.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  position: relative;
  width: 400px;
}

.title {
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  margin-bottom: 10%;
}

.titleWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.closeIcon {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: -3px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input {
  padding: 10px;
  /* margin-bottom: 16px; */
  box-sizing: border-box;
  border: 1px solid #202020;
  border-radius: 10px;
  width: 100%;
  color: #202020;
}



.remindPas {
  color: #202020;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  left: 90px;
}

.btn,
.remind {
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid #202020;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #202020;
  font-size: 19px;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  width: 86%;
  margin-bottom: 10%;
  margin-top: 30px;
}

.remind {
  margin-bottom: 30%;
}

.mediaIcons {
  width: 50px;
  cursor: pointer;
}

.line {
  width: 80px;
  color: gray;
  height: 1px;
  margin-top: 13px;
}

.btnWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  color: #515151;
  display: flex;
  justify-content: flex-start;
  width: 86%;
  margin-bottom: 10px;
}

.inputContainer {
  display: flex;
  position: relative;
  width: 86%;
  justify-content: center;
}

.error {
  /* margin-right: 30%; */
  color: red;
  font-size: 13px;
  margin-bottom: 16px;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  right: 16px;
  top: -14px;
  background-color: white;
  border: solid 1px red;
  padding: 3px 5px;
  border-radius: 5px 5px 0px 5px;
}

.attantion {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 16px;
  top: 16px;
}

.passwordContainer {
  display: flex;
  position: relative;
  width: 86%;
  justify-content: space-between;
}

.eyesIcon {
  border-radius: 10px;
  border: 1px solid var(--black, #202020);
  display: flex;
  width: 44px;
  /* padding: 10px 9px 9px 10px; */
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}


/* for password recovery */
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 30%;
  margin: auto;
}