.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.popup {
  margin-top: 2%;
  width: 100%; 
  max-width: 420px; 
  padding: 2%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.title {
  color: black;
  font-size: 20px;
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  margin-bottom: 10%;
}

.titleWrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.closeIcon {
  position: relative;
  right: 0;
  margin-top: -3px;
  margin-left: 6%;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}


.input {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #202020;
  border-radius: 10px;
  width: 100%;
  color: #202020;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 16px;
  margin-left: 4px;
}

.btn {
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  border: 1px solid #202020;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: #202020;
  font-size: 20px;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  margin: 5% 0;
}

.btnWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.textarea {
  resize: none;
 
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  padding-left: 3%;
  padding-top: 3%;
}

/* slider */

.slider {
  height: fit-content;
  border: 1px solid black;
  border-radius: 15px;
  margin: 4% 3%;
}

.textWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100%; 
  padding: 5% 20%; 
  background-image: url('../../assets/img/slider-new-year.png');
  background-size: cover; 
  background-position: center; 
  border: 15px solid transparent; 
  border-radius: 15px; 
}

.cardS {
  max-width: fit-content;
  padding: 4px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
}

.titleS, .subtitleS {
  max-width: fit-content;
  font-size: 60px;
  font-weight: 500;
  font-family: Raleway;
  color: white;
}

.subtitleS {
  font-size: 30px;
}

