@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 0; /* Убирает ширину скроллбара */
  height: 0; /* Убирает высоту скроллбара */
}

/* Скрывает скроллбар для Firefox */
/* В Firefox нужно использовать overflow и стилизацию через scrollbar-width и scrollbar-color */
/* Это позволит убрать скроллбар и при этом сохранить его функциональность */
/* Необходимо применять к контейнеру, в котором вы хотите убрать скроллбар */
.scrolnan {
  overflow: auto;
  scrollbar-width: none; /* Убирает ширину скроллбара */
  scrollbar-color: transparent transparent; /* Убирает цвет скроллбара */
}

/* Указывает цвет полосы скролла */
.scrolnan::-webkit-scrollbar-thumb {
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

ul,
ol,
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: #00000018;
}
