@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    Raleway,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}
main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 0; /* Убирает ширину скроллбара */
  height: 0; /* Убирает высоту скроллбара */
}

/* Скрывает скроллбар для Firefox */
/* В Firefox нужно использовать overflow и стилизацию через scrollbar-width и scrollbar-color */
/* Это позволит убрать скроллбар и при этом сохранить его функциональность */
/* Необходимо применять к контейнеру, в котором вы хотите убрать скроллбар */
.scrolnan {
  overflow: auto;
  scrollbar-width: none; /* Убирает ширину скроллбара */
  scrollbar-color: transparent transparent; /* Убирает цвет скроллбара */
}

/* Указывает цвет полосы скролла */
.scrolnan::-webkit-scrollbar-thumb {
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

ul,
ol,
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

::selection {
  background-color: #00000018;
}
/* Hide number input defaul arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:focus,
textarea:focus {
  border-color: #135cfb;
  outline: unset;
}

input,
textarea {
  transition: border 0.3s ease;
}

a:focus,
img:focus,
p:focus,
button:focus {
  outline: unset;
}
/* button:focus {
  outline: 1px solid #202020;
} */
::placeholder {
  font-weight: 300;
  font-size: 1rem;
  color: #515151;
}
