{% extends 'user/base.html' %}
{% load static %}

{% block css %}
    <style>
        .letterWrap {
            width: 500px;
            height: 330px;
        }

        .themeOfLetter,
        .black,
        .gray,
        .blue {
            font-family: "Raleway", sans-serif;
            font-size: 14px;
            font-weight: 400;
        }

        .themeOfLetter {
            font-weight: 600;
            font-size: 16px;
            color: black;
        }

        .black {
            color: black;
        }

        .gray {
            color: #888888;
        }

        .blue {
            color: #135cfb;
            cursor: pointer;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="letterWrap">
        <h1 class="themeOfLetter">
        Subject: Password Reset for Your World is Yours Account
      </h1>
        <p class="black">Dear <span class="gray">
          {% if user.first_name %}
              {{ user.first_name }}
          {% else %}
              Customer
          {% endif %},
      </span></p>
        <p class="black">
            We have received a request to reset the password for your World is Yours account. To complete the process,
            please use the following link to reset your password:
        </p>
        <p class="blue">{{ reset_link }}</p>
        <p class="black">If you did not initiate this request, please disregard this email. Your account will remain
            unchanged. If you have any questions or difficulties, please contact our support team at <span class="blue">info@worldisyours.com.</span>
            We are always ready to assist you!

        <p class="black">Best regards, <br>World is Yours Team!</p>
    </div>
{% endblock %}
